body, html {
    height: 100%;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.bgimg {
    background-color:#fff;
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
}

div.middle img {
    width:60%;
   
}
#time{
    font-size:2.5vw;
}
.bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
    font-size:1vw;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size:1vw;
}
#time{
    font-size:2vw;
}
hr {
    margin: auto;
    width: 50%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #ccc, rgb(255, 0, 0), #ccc);
}
h1,p{
    font-weight: 300;
}
h1{
    background: linear-gradient(to right, #f44e42, #ff9b9b, #f44e42);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
  
    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
  
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
  }
  